<div id="my-cart">
    <div class="breedcrumb-wrap">
        <div class="container">
        <app-breedcrumb [breedcrumb]="breedcrumb"></app-breedcrumb>
    </div>
</div>
<div class="my-cart page-section">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="container">
        <div class="cart-header">
            <div class="row">
                <div class="col-md-6 title">My Cart</div>
                <div class="col-md-6">
                    <div class="membership-logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="my-cart-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Items</th>
                        <th class="text-center" scope="col">Price</th>
                        <th class="text-center" scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="cartList.length > 0">
                    <tr *ngFor="let product of cartList; let i = index;">
                        <td>
                            <div class="img-wrapper d-inline-block">
                                <img src="{{product.ImageURl}}" alt="">
                            </div>
                            <div class="product-desc-container d-inline-block">
                                <div class="item-desc">
                                    <div class="item-title">{{product.ProductName}}</div>
                                    <div class="item-deal">Flash Deal</div>
                                    <div class="item-size">
                                        Size: L
                                    </div>
                                    <div class="item-variation">
                                        Color: {{product.ProductSelectedColor}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="item-price" *ngIf="product.DescountPrice">
                                <div class="discount-price">INR {{(product.DescountPrice * product.ProductCount) | currency:'INR'}} </div>
                                <div class="actual-price" *ngIf="product.DescountPrice">INR {{(product.Price * product.ProductCount) | currency:'INR'}}</div>
                            </div>
                            <div class="item-price" *ngIf="!product.DescountPrice">
                                <div class="discount-price">INR {{(product.Price * product.ProductCount) | currency:'INR'}} </div>
                            </div>
                        </td>
                        <td>
                            <div class="quantity-raiser">
                                <div class="d-inline-block quantity-decrease" (click)="decreaseQuantity(product)"><i class="fa fa-minus" aria-hidden="true"></i></div>
                                <div class="d-inline-block quantity-val">{{product.ProductCount}}</div>
                                <div class="d-inline-block quantity-increase" (click)="increaseQuantity(product)"><i class="fa fa-plus" aria-hidden="true"></i></div>
                            </div>
                        </td>
                        <td style="width: 50px;">
                            <div class="remove-item" (click)="removeFromCart(i)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="clear-button" (click)="clearCart()">
                                <button class="btn">Clear Cart</button>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="cart-total text-right">
                                <div>
                                    <span>Discount</span>: <span class="discount-price">
                                      INR  {{discountedPrice | currency:'INR'}}
                                    </span>
                                </div>
                                <div>
                                    <span>Total</span>: <span>{{cartList.length}} item</span>
                                </div>
                                <div>
                                    <span>Add Point</span>: <span>21 point</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="cartList.length == 0">
                    <tr>
                        <td colspan="4" class="text-center">
                            No item in cart
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="continue-payment text-right" *ngIf="cartList.length">
            <button class="btn btn-primary" routerLink="/shipping-payment">Continue</button>
        </div>
    </div>
</div>
</div>

<div class="alert alert-success" role="alert">
  <strong>Cart is empty!!</strong>
</div>