<div class="account-wrapper">
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">Profile Picture:</label>
				</div>
			</div>
			<div class="col-md-8 p-0">
				<div class="profile-pic" *ngIf="!model.ProfilePic">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i>
				</div>
				<div class="profile-pic" *ngIf="model.ProfilePic">
					<img src="{{model.ProfilePic}}" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">Pin:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="form-group">
					<input type="text" placeholder="PIN" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">Name:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="row">
					<div class="col-md-6 p-0">
						<div class="form-group mr-1">
							<input type="text" [(ngModel)]="model.FirstName" placeholder="First Name" class="form-control">
						</div>
					</div>
					<div class="col-md-6 p-0">
						<div class="form-group ml-1">
							<input type="text" placeholder="Last Name" class="form-control" [(ngModel)]="model.LastName">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">*Country/Region:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="form-group">
					<select name="" id="" class="form-control" [(ngModel)]="model.CountryCode">
						<option *ngFor="let info of countryList" value="{{info.CountryCode}}">
							{{info.CountryName}}
						</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">*Gender:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="form-group">
					<div class="row">
						<div class="col-md-4 p-0 d-inline-block">
							<input type="radio" name="gender" class="" value="male" (click)="selectGender('male')" [(ngModel)]="model.Gender"> Male
						</div>
						<div class="col-md-4 p-0 d-inline-block">
							<input type="radio" name="gender" class="" value="female" (click)="selectGender('female')" [(ngModel)]="model.Gender"> Female
						</div>
						<div class="col-md-4 p-0 d-inline-block">
							<input type="radio" name="gender" class="" value="secret" (click)="selectGender('secret')" [(ngModel)]="model.Gender"> Secret
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">Birthday:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="input-group datetimepicker" >
					<input id='endtime' type="text" class="form-control input-sm" [(ngModel)]="model.DateOfBirth"/>
					<span class="input-group-addon calendar">
						<span class="fa fa-calendar"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">*Email:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="form-group">
					<input type="text" class="form-control" [(ngModel)]="model.Email">
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">Phone Number:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="form-group">
					<input type="text" class="form-control" [(ngModel)]="model.MobileNo">
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="title-wrapper">
					<label for="">Hobby:</label>
				</div>
				
			</div>
			<div class="col-md-8 p-0">
				<div class="row">
					<div class="col-md-8 p-0"><input type="text" class="form-control" [(ngModel)]="singleHobby"></div>
					<div class="col-md-4">
						<button class="btn" (click)="addHobby()">Add Hobby</button>
					</div>
				</div>
				<div class="list-hobby">
					<span class="single-hobby" *ngFor="let hobby of hobbyArray; let i = index">
						<span>{{hobby}}</span>
						<span class="deleteHobby" (click)="deleteHobby(i)"><i class="fa fa-trash-o"></i></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="field-container">
		<div class="row">
			<div class="col-md-4 p-0"></div>
			<div class="col-md-8 p-0">
				<button class="btn account-btn" (click)="saveUserInfo()">Save Information</button>
			</div>
		</div>
	</div>
</div>