<div class="account-wrapper">
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>Password</td>
				<td width="400px"></td>
				<td class="text-center"><span (click)="changePassword()">Change</span></td>
			</tr>
			<tr>
				<td>Email Verification</td>
				<td class="text-center" width="400px">Email ID is verified</td>
				<td class="text-center"><span>Verified</span></td>
			</tr>
			<tr>
				<td>Mobile Verification</td>
				<td class="text-center" width="400px">Mobile Number is not verified</td>
				<td class="text-center"><span>Verify</span></td>
			</tr>
		</tbody>
	</table>
	<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="customerCareModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Change your password</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="customer-modal-container text-center">
						<div class="customer-email-container ">
							<div class="field-container">
								<div class="row">
									<div class="col-md-4 p-0">New Password</div>
									<div class="col-md-8 p-0">
										<div class="form-group">
											<input type="text" class="form-control" [(ngModel)]="model.NewPassword">
										</div>
									</div>
								</div>
							</div>
							<div class="field-container">
								<div class="row">
									<div class="col-md-4 p-0">Re-enter Password</div>
									<div class="col-md-8 p-0">
										<div class="form-group">
											<input type="text" class="form-control" [(ngModel)]="model.confirmPassword">
										</div>
									</div>
								</div>
							</div>
							<div class="field-container">
								<div class="row">
									<div class="col-md-4 p-0">Security Code</div>
									<div class="col-md-8 p-0">
										<div class="form-group">
											<input type="text" class="form-control" [(ngModel)]="model.OTP">
										</div>
										<div class="note">**Security code is send to your registerd email address.</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="modal-footer" (click)="resetPassword()">
					Change Password
				</div>
			</div>
		</div>
	</div>
</div>