<div class="container-fluid p-0 m-0">
  <div class="admin-title">
    Notifications
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="admin-wrapper">
    <app-breedcrumb [breedcrumb]="breedcrumb"></app-breedcrumb>
    <app-admin-search (filterResult)="getFilterResult($event)" [calledFrom]="'notification'" [searchColumns]="searchColumns"></app-admin-search>
    <div class="add-new-container text-right">
      <span class="addnew" [routerLink]="['/admin/notifications/addnewnotification']">
            <i class="fa fa-plus-circle"></i><span>add new notification</span>
      </span>
    </div>
    <div class="records-table">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr class="bg-dark text-light">
            <th>Notification Name</th>
            <th>Created AT</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="model.length > 0">
          <tr *ngFor="let row of model; let i = index">
            <td>{{row.BrandName}}</td>
            <td>{{row.CreatedDate | date:long}}</td>
            <td class="text-right">
              <!-- <button class="btn btn-primary mr-1" [routerLink]="['editbrand', row.NotificationID]"><i class="fa fa-edit"></i> Edit</button>
              <span *ngIf="row.Status">
                <button class="btn btn-success mr-1" (click)="changeBrandStatus(row.NotificationID)"><i class="fa fa-check"></i> Deactive</button>
              </span>
              <span *ngIf="!row.Status">
                <button class="btn btn-warning text-light mr-1" (click)="changeBrandStatus(row.NotificationID)"><i class="fa fa-question-circle"></i> Active</button>
              </span> -->
              <button class="btn btn-danger mr-1" (click)="deleteNotiication(row.NotificationID)"><i class="fa fa-trash"></i> Delete</button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="model.length == 0">
          <tr class="text-center">
            <td colspan="3">No Record Found</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="model.length > 0">
        <app-admin-pagination [totalCount]="this.search.totalRecords" [countToShow]="this.search.searchParameter.PageSize" (changePageNumber)="changePageNumber($event)"></app-admin-pagination>
      </div>
    </div>
  </div>
</div>