<div class="account-wrapper">
	<div class="point-wrapper">
		<div class="row">
			<div class="col-md-6 address-info">
				<div class="row">
					<div class="col-md-4">
						<div class="profile-pic text-center">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						</div>
					</div>
					<div class="col-md-8">
						<div class="details">
							<h4>Shashank</h4>
							<div class="info">
								Id: shank101
							</div>
							<div class="info">
								shashank@gmail.com
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="points-wrapper text-right">
					<div class="membership-logo"></div>
					<div class="points"><span>Totals</span>: <span>1,344</span> points</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="redeem text-center">
		<button class="btn account-btn">Redeem Points</button>
	</div>
</div>