/*------------- Global --------------*/

:root {
    --nowishop-red: #bf1e2e;
    --nowishop-blue: #283891;
    --nowishop-light-blue: #3661a0;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

ul li {
    list-style: none;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

*:focus {
    outline: none;
}

.page-section {
    padding: 40px 0px;
    position: relative;
    ;
}

.view-btn a,
.view-btn .btn {
    background: var(--nowishop-blue) !important;
    border: 1px solid var(--nowishop-blue) !important;
    width: 90px;
    border-radius: 20px;
}

.small-title .title-container {
    font-size: 14px !important;
}

h2.page-title {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.title-with-line h3 {
    display: inline-block;
    background: #ffff;
    position: relative;
    z-index: 9;
    padding-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.title-with-line:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    top: 10px;
    background: #f1f0ec;
}

.title-with-line {
    position: relative;
}

.btn-red {
    background: var(--nowishop-red) !important;
    border: 1px solid var(--nowishop-red) !important;
    border-radius: 10px !important;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    box-shadow: none !important;
}

.btn-blue {
    background: var(--nowishop-blue) !important;
    border: 1px solid var(--nowishop-blue) !important;
    border-radius: 10px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: #fff;
    box-shadow: none !important;
}

.col-md-4.product-container:nth-of-type(odd) {
    background: #f5f5f5;
}

.swal2-container.swal2-center.swal2-fade.swal2-shown {
    z-index: 99999;
}

body .mobile {
    display: none;
}

/*-----------------------------------*/
/*------ Dashboard ------------------*/

.dash-nav-collapse .active-nav:before {
    display: none !important;
}

.dash-nav-collapse .admin-nav li {
    padding: 8px 13px !important;
}

.dash-container button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.multiselect-dropdown .dropdown-btn {
    background: #fff;
    border: 1px solid #ccc !important;
}

/*----------------------------------*/
/*--------------- Breedcrumb -----------*/
.breedcrumb-wrap {
    padding: 5px 0px;
    background: #f1f0ec;
}

.breedcrumb-wrap .breadcrumb {
    margin: 0px !important;
}

.breadcrumb-item.active {
    color: #6c757d;
    text-transform: capitalize;
}

/* ----------- Customer Care ----------*/
.sell-on-us .title-container {
    font-size: 24px !important;
}

/*----- Sidebar-Content Template -------*/
.sidebar {
    background: #e5e5e5;
    margin-bottom: 50px;
    padding: 20px;
}

.sidebar-title-container h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.sidebar-title-container {
    border-bottom: 3px solid #fff;
    margin-bottom: 20px;
}

.sidebar-subtitle-container {
    padding: 10px 0px;
}

.sidebar-subtitle-container h2 {
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.inner-section-container {
    padding: 40px 0px;
}

.sidebar-single-list h2,
.sidebar-single-list .title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.sidebar-single-list {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;
}

li.sidebar-single-list li {
    text-transform: capitalize;
}

.content-title-container {
    padding: 10px;
    background: #283891;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.sidebar-wrapper {
    padding-right: 0px !important;
}

.content-wrapper {
    padding-left: 0px !important;
}

.content-wrapper .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.sidebar-single-list input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

/*------ Loading Animation --------*/
.load-wrapp .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.load-wrapp {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.l-1 {
    animation-delay: .48s;
}

.l-2 {
    animation-delay: .6s;
}

.l-3 {
    animation-delay: .72s;
}

.l-4 {
    animation-delay: .84s;
}

.l-5 {
    animation-delay: .96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}

@keyframes loadingF {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.letter-holder {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 45%;

}

.letter-holder .letter {
    display: inline;
}

.container .social.mobile {
    display: none;
}

/*------------------------------*/

@media screen and (max-width: 768px) {
    .container {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 768px){
    .mobile{
        display: block !important;
    }

    .desktop {
        display: none;
    }
}
