<div class="title">
	<div class="row">
		<div class="col-md-8">
			<h2 class="page-title">Return Policy</h2>
		</div>
	</div>
</div>
<div class="inner-section-container">
	<div>
		Our Returns Policy is a plan implemented by Nowishop specifically regarding the terms of trade,	replacement and/or refund offers. All items in different categories have slightly different return policies. For all items, the policy on the item page will explain the general returns policy. Please refer to the respective item&#39;s applicable return policy on the product page for any exceptions to the table below.
	</div>
	<div>
		The return policy is separated into three sections; please peruse all segments to understand the conditions and cases under which the returns will be accepted.
	</div>
	<div>
		Part 1 – Category, Return Window (time frame) and Actions possible
		<table>
			<tbody>
				<tr>
					<td>Category</td>
					<td>Returns Window, Actions Possible and Conditions (if any)</td>
				</tr>
				<tr>
					<td>Lifestyle: Clothing, Footwear, Lingerie (top-wear)</td>
					<td>7 days replacement or exchange (<strong>Terms and condition apply</strong>) *</td>
				</tr>
				<tr>
					<td>Home:  Home décor (painting, show piece, vases &amp; table lamps)</td>
					<td>
						<b>Replaceable but Non-refundable</b>
						In order to help you resolve issues with your product, we will troubleshoot your product either through online communication tools, over the phone, and/or through an in-person technical visit. If no defect is reported or the issue is not diagnosed within 7 days of
						delivery wherever applicable, you will not be able to replace that particular product anymore. We will however, still try our best to resolve the issue in a responsible and timely manner.
					**Other products in this category are non-replaceable.</td>
				</tr>
				<tr>
					<td>All Furniture and Large decorative items.</td>
					<td>
						<b>Non-Replaceable &amp; Non-refundable</b>
						
						In order to help you resolve issues with your product, we will
						troubleshoot your product either through online communication tools,
						over the phone, and/or through an in-person technical visit. If no
						defect is reported or the issue is not diagnosed within 7 days of
						delivery wherever applicable, you will not be able to replace that
						particular product anymore. We will however, still try our best to
					resolve the issue in a responsible and timely manner.</td>
				</tr>
				<tr>
					<td>Lifestyle</td>
					<td>Products not mentioned in this category are neither replaceable
						nor refundable.
						For any other issues with this product you may contact Nowishop’s
					24/7 customer service center.</td>
				</tr>
				<tr>
					<td>Beauty &amp; Spa</td>
					<td>
						<b>Non-Replaceable &amp; Non-refundable</b>
						To help you resolve issues with your product, we will try our best to
						troubleshoot your product through your choice of either online tools or over the phone.
					</td>
				</tr>
				<tr>
					<td>Aroma</td>
					<td>
						<b>Non-Replaceable &amp; Non-refundable</b>
						To help you resolve issues with your product, we will try our best to
						troubleshoot your product through your choice of either online tools or
						over the phone.
					</td>
				</tr>
				<tr>
					<td>No Returns categories</td>
					<td>
						Some products in the above categories are not returnable due to their
						nature or for other reasons. For all products, the policy on the product
						page is final.
						You can view the complete list of non-returnable products here.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		Part 2 - Returns Pick-Up and Processing
		<div>
			In case of returns where you would like item(s) to be picked up from a different address, the address can only be changed if pick-up service is available at the new address
		</div>
		<div>
			During pick-up, your product will be checked for the following conditions/issues:
			<table>
				<tbody>
					<tr>
						<td>Category</td>
						<td>Conditions</td>
					</tr>
					<tr>
						<td>Correct Product</td>
						<td>IMEI/ name/ image/ brand/ serial number/ article number/ bar code should match and MRP tag should be undetached and clearly visible.</td>
					</tr>
					<tr>
						<td>Complete Product</td>
						<td>All in-the-box accessories (like remote controls, starter kits, instruction manuals, chargers etc.), freebies and combos (if any) should be present.</td>
					</tr>
					<tr>
						<td>Unused Product</td>
						<td>The product should be clean, unused, unwashed, unsoiled, without any stains and with non-tampered quality check seals/ warranty seals still intact (wherever applicable).</td>
					</tr>
					<tr>
						<td>Undamaged Product</td>
						<td>The product (including charging port, back-panel etc. if any) should be undamaged and without any scratches, dents, tears or holes.</td>
					</tr>
					<tr>
						<td>Undamaged Packaging</td>
						<td>Product&#39;s original packaging/ box should be undamaged.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<b>The field executive has the right to refuse the return if any of the above conditions are not fulfilled.</b>
		</div>
		<div>
			For any items for which a refund is to be given, the refund will be handled once the returned item has been received by Nowishop.
		</div>
	</div>
	<div>
		Section 3 - General standards for a successful return
		<ol>
			<li>In certain instances where Nowishop can&#39;t process a replacement for any reason, a refund or different offer might be given to the customer on a case by case basis. (Terms and conditions apply)</li>
			<li>
				In the case of receiving a faulty item during delivery, you will be given a refund or the most ideal offer we can give you. Once you have acknowledged a delivery, no returns will be processed, aside from manufacturing defects. In such cases, the replacement/return general conditions will be applicable.
			</li>
			<li>
				For furniture, any item related issues will be checked by an authorized staff member (free of cost) and will be dealt with by replacing the defective/faulty piece of the item. Full replacement will be given only in situations where the authorized staff acknowledges that replacing the defective/faulty part won&#39;t
				resolve the issue.
			</li>
		</ol>
	</div>
</div>