<div class="title">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-title">Payment Policy</h2>
    </div>
    <div class="col-md-4 text-right small-title">
      <app-section-title [titleBg]="'#be1e2d'" [titleColor]="'#ffffff'" [value]="'Customer Service'" [dimention]="''"></app-section-title>
    </div>
  </div>
</div>
<div class="inner-section-container">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" aria-expanded=true href="#collapseOne">
          What payment options does Nowishop offer?
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          Here at Nowishop, we offer you a choice of multiple payment methods for your
          convenience.
          We accept Internet Banking, Coupons, Nowishop loyalty points and Wallet to make
          purchases along with Visa, MasterCard, Maestro, Apple Pay, bank transfer, Discover,
          ACH, Family Dollars, JCB, Neteller, PayPal, PO, Skrill, 7-11 and American Express
          credit/debit cards in India and 200+ other countries.
          With any of the above stated online payments, Nowishop guarantees a trusted
          payment gateway utilizing secure encryption technology to keep your details
          completely confidential at all times.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Are there any hidden charges or taxes when I make a purchase?
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          The prices shown on the product pages are the exact amounts to be paid. All of the
prices stated on Nowishop are final and all-inclusive, there are no hidden charges or
taxes.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          How can I pay using a credit/debit card?
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          In order to pay using your credit/debit card follow these following steps:

1. Go to checkout screen.
2. Enter credit/debit card number.
3. Enter expiry date on card.
4. Enter the 3-digit CVV number on the back of your card.

After following the above instructions you will be redirected to your bank’s page and
expected to enter the online 3D secure password.
Please note, we accept payments made by credit/debit cards issued in India and 200+
other countries including but not limited to Visa, MasterCard, American Express (see
above for a complete list of credit/debit cards).
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
        Is it safe to use my credit/debit card on Nowishop?
      </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          At Nowishop, we make your payment security our priority by ensuring we use the most
secure options on the internet.
By using a combination of artificial intelligence and advanced algorithms, we make
sure your information is secure while the payment is processing.
All of these payment processes are managed by leading banks which utilize 3D Secure
password service for online transactions, this provides an extra layer of security
through identity verification.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
        What steps does Nowishop take to prevent card fraud?
      </a>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
          We realize the importance of strong fraud detection and having a system for resolving
these issues. Nowishop and our online payment partners are consistently monitoring
transactions for suspicious activity in order to flag potentially fraudulent transactions
for manual verification.
In the rarest of cases, when our team is unable to rule out the possibility of fraud
categorically, the transaction is kept on hold, and the customer is requested to
provide identification documents. These ID documents help us ensure that the
purchases were made by the genuine card holder.
In this matter we want to thank our customers for their patience with any
inconvenience that may be caused to them and encourage them to bear with us in the
interest of ensuring a safe and secure online transaction environment.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
        What is a 3D Secure password?
      </a>
      </div>
      <div id="collapseSix" class="collapse" data-parent="#accordion">
        <div class="card-body">
          The 3D Secure password is a system enforced by VISA and MasterCard in partnership
with card issuing banks under the &quot;Verified by VISA&quot; and &quot;Mastercard Secure Code&quot;
services.
This system is an additional layer of security that utilizes identity verification for
online credit/debit card transactions. It has the user create a password that is only
known by the user to ensure no fraudulent activities occur.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
        Can I use my bank&#39;s Internet Banking feature to make a payment?
      </a>
      </div>
      <div id="collapseSeven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Of course. We want your experience at Nowishop to be as easy as possible which is
why we now offer you the option of using your Internet Banking service to make
payments for your order. With this system you can directly and securely transfer
funds from your bank account.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
        Can I make a credit/debit card or Internet Banking payment on Nowishop through
my mobile?
      </a>
      </div>
      <div id="collapseEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
          We have worked hard to make sure our Nowishop mobile site is not only cohesive but
safe and secure to protect your personal information. We do this by using advance
technology to protect your card information while securely transmitting it to the
secure and trusted payment gateways managed by leading banks.
        </div>
      </div>
    </div>
  </div>
</div>
