<section class="home-section">
  <div class="container">
    <app-section-title [titleBg]="'#e5e6e1'" [titleColor]="'#000000'" [value]="'Similar Products'"></app-section-title>
    <div class="recommend-container">
      <div class="row">
        <div class="col-md-12">
          <div class="" id="similarProductsCarousel">
            <div class="row">
              <div class="col-md-3" [ngClass]="i==0 ? 'active' : ''" *ngFor="let product of similarProducts; let i = index">
                <div class="recomended-product">
                  <div class="recomended-product-img">{{product.image}}</div>
                  <div class="recomended-product-price ">
                    <div>US$</div>
                    <div>{{product.price}}</div>
                  </div>
                  <div class="recomended-product-name">{{product.name}}</div>
                  <div class="recomended-product-rating d-inline-block">
                    <app-ratings [rating]="'3.4'"></app-ratings>
                  </div>
                  <div class="recomended-product-link text-right d-inline-block float-right"><a class="my-primary" href="{{product.link}}">More <i class="fa fa-angle-right"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
