<section class="home-section">
  <div class="container">
    <app-section-title [titleBg]="'#e5e6e1'" [titleColor]="'#000000'" [value]="'Browsing History'"></app-section-title>
    <div class="recommend-container">
      <div class="row">
        <div class="col-md-12">
          <div class="" id="similarProductsCarousel">
            <div class=" row">
              <div class="col-md-2 " [ngClass]="i==0 ? 'active' : ''" *ngFor="let product of browsingHistoryProducts; let i = index">
                <div class="recomended-product">
                  <div class="recomended-product-img">{{product.image}}</div>
                  <div class="recomended-product-name text-center">{{product.name}}</div>
                  <div class="recomended-product-price text-center">
                    <div>US$ {{product.price}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
