<footer class="footer">
    <div class="why-us">
        <div class="container">
            <div class="why-title">why choose us</div>
            <div class="why-us-feature">
                <div class="footer-list why-choose">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 margin-bottom">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="footer-why-icon thai-product" style="background: url('/assets/img/icons-white.png') 46px -560px"></div>
                                    <div class="title">100% Authentic </div>
                                    <div class="title">Thai Products</div>
                                </div>
                                <div class="col-lg-4 col-md-4" routerLink="/help-center/payment-policy">
                                    <div class="footer-why-icon secure-payment" style="background: url('/assets/img/icons-white.png') 44px -645px"></div>
                                    <div class="title">Secure </div>
                                    <div class="title">Payments</div>
                                </div>
                                <div class="col-lg-4 col-md-4" routerLink="/help-center/shipping">
                                    <div class="footer-why-icon free-shipping" style="background: url('/assets/img/icons-white.png') 37px -84px"></div>
                                    <div class="title">World Wide</div>
                                    <div class="title">Free Shipping</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6" routerLink="/customer-care">
                                    <div class="footer-why-icon customer-care" style="background: url('/assets/img/icons-white.png') 54px -473px"></div>
                                    <div class="title">24/7 </div>
                                    <div class="title">Customer Care</div>
                                </div>
                                <div class="col-lg-6 col-md-6" routerLink="/help-center/return-policy">
                                    <div class="footer-why-icon return-policy" style="background: url('/assets/img/icons-white.png') 51px -380px"></div>
                                    <div class="title">30 Days </div>
                                    <div class="title">Return Policy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="container">
            <div class="footer-list footer-nav">
                <div class="row">
                    <div class="col-lg-7 col-md-12 margin-bottom">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer-title">Shop By Category</div>
                                <ul class="sub-footer-list" *ngIf="categoryList.length > 0">
                                    <li *ngFor="let cat of categoryList">
                                        <a routerLink="/category/{{cat.CategorySlug}}">{{cat.CategoryName}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-title">GET TO KNOW US </div>
                                <ul class="sub-footer-list">
                                    <li><a routerLink="/about-us">About Us</a></li>
                                    <li><a routerLink="/customer-care">Contact Us</a></li>
                                    <li><a routerLink="/customer-care">Registered Office Address</a></li>
                                    <li><a routerLink="/career">Careers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-title">Customer Service</div>
                                <ul class="sub-footer-list">
                                    <li><a routerLink="/help-center/payment-policy">Payments</a></li>
                                    <li><a routerLink="/help-center/shipping">Shipping</a></li>
                                    <li><a routerLink="/help-center/return-policy">Cancellations and returns</a></li>
                                    <li><a routerLink="/help-center/privacy-policy">Privacy policy</a></li>
                                    <li><a routerLink="/help-center/loyalty-program">Nowmypoints loyalty program</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-title">YOUR WISHLIST</div>
                                <ul class="sub-footer-list">
                                    <li><a routerLink="/deal/recommended_for_you__">Recommended for you</a></li>
                                    <li><a routerLink="/deal/best_selling">Best selling</a></li>
                                    <li><a routerLink="/deal/new_arrival_">New arrival</a></li>
                                    <li><a routerLink="/deal/flash_deal">Flash sale</a></li>
                                    <li><a routerLink="/account/my-wishlist">Wished by you</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-title">SELLER</div>
                                <ul class="sub-footer-list">
                                    <li><a routerLink="/seller">Sell with Nowishop</a></li>
                                    <li><a routerLink="/seller">Why Nowishop?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-payments">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-table">
                        <div class="d-table-cell" style="vertical-align: middle;">
                            <div class="my-primary d-table-cell pay-with" style="vertical-align: middle;">Pay With : </div>
                            <div class="d-table-cell footer-payment">
                                <ul class="d-inline-block payment-option-list">
                                    <li class="d-inline-block visa"></li>
                                    <li class="d-inline-block master-card"></li>
                                    <li class="d-inline-block maestro"></li>
                                    <li class="d-inline-block american-express"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="subscribe">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter your email & get the latest discount" aria-describedby="subscribe" [(ngModel)]="subscribeEmail">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="subscribe" (click)="subscribe()">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right footer-logo-container"><img class="footer-logo" width="85px" src="/assets/img/logo.png"></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            copyright 2018 nowishop
        </div>
    </div>
</footer>