<div class="title">
	<div class="row">
		<div class="col-md-8">
			<h2 class="page-title">Shipping</h2>
		</div>
	</div>
</div>
<div class="inner-section-container">
	<div id="accordion">
		<div class="card">
			<div class="card-header">
				<a class="card-link" data-toggle="collapse" aria-expanded=true href="#collapseOne">
					What are the delivery charges?
				</a>
			</div>
			<div id="collapseOne" class="collapse show" data-parent="#accordion">
				<div class="card-body">
					Nowishop has no delivery charges and therefore charges no money for delivery.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
					Why does the delivery date not correspond to the delivery timeline of X-Y business days?
				</a>
			</div>
			<div id="collapseTwo" class="collapse" data-parent="#accordion">
				<div class="card-body">
					In this instance please check whether our courier partners have a holiday between the day you
					placed your order and the date of delivery, which you can find on the timelines shown on the product
					page. In this case, we add a day to the estimated date. Some courier partners do not work on
					specific days and this is factored in to the delivery dates.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
					What is the estimated delivery time?
				</a>
			</div>
			<div id="collapseThree" class="collapse" data-parent="#accordion">
				<div class="card-body">
					Nowishop generally procures and ships the items within the time specified on the product page. This
					can be located on the timeline on each specific product page. Please note that business days
					exclude public holidays and Sundays.
					Estimated delivery time depends on the following factors:
					Availability of the product.
					The destination to which you want the order shipped to.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
					Are there any hidden costs (taxes etc.) on items sold by Nowishop?
				</a>
			</div>
			<div id="collapseFour" class="collapse" data-parent="#accordion">
				<div class="card-body">
					We are proud to say there are NO hidden charges when you make a purchase with Nowishop. List
					prices are final and all-inclusive. The price you see on the product page is exactly what you would
					pay and delivery charges are not hidden charges.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
					Why does the estimated delivery time vary for each product?
				</a>
			</div>
			<div id="collapseFive" class="collapse" data-parent="#accordion">
				<div class="card-body">
					You may have noticed some varying estimated delivery times for certain products you have interest
					in. Delivery times are influenced by product availability, geographic location of the vendor, your
					shipping destination and the courier partner&#39;s time-to-deliver in your location.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
					Seller does not/cannot ship to my area. Why?
				</a>
			</div>
			<div id="collapseSix" class="collapse" data-parent="#accordion">
				<div class="card-body">
					Whether your location can be serviced or not depends on
					Whether the courier partners ships to your location
					Legal restrictions, if any, in shipping particular products to your location
					The availability of reliable courier partners in your location
					At times couriers prefer not to ship to certain locations for their own reasons and Nowishop leaves
					that to their own discretion.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
					I need to return an item; how do I arrange for a pick-up?
				</a>
			</div>
			<div id="collapseSeven" class="collapse" data-parent="#accordion">
				<div class="card-body">
					Returns are easy, contact us to initiate a return. You will then receive a call explaining the process,
					once you have initiated a return.
					Wherever possible our logistics team will facilitate the pick-up of the item.
					In cases where the pick-up cannot be arranged for any reason, you can return the item through a
					third-party courier service. Return fees are borne by the seller. (Terms and conditions apply)
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
					What do the different tags like &quot;In Stock&quot;, &quot;Available&quot; mean?
				</a>
			</div>
			<div id="collapseEight" class="collapse" data-parent="#accordion">
				<div class="card-body">
					&#39;In Stock&#39;
					For items listed as &quot;In Stock&quot;, Nowishop will inform you of the delivery time based on your location
					pin code.
					&#39;Available&#39;
					This means the seller might not have the item in stock but can procure it when an order is placed for
					the item. The delivery time is dependent on the estimated procurement time and the estimated
					shipping time to your specific location.
					&#39;Wishlist&#39;
					Such items are expected to be released soon or might not be available at the time of shopping and
					can be pre-booked for you or marked as ‘Wished’ by you. This particular item will then be shipped to
					you on the day of its official release and will reach you within the mentioned number of business
					days. The Wishlist duration varies from item to item. Once the seller and Nowishop are aware of the
					information the customer will be informed of the release/availability time and date.
					&#39;Out of Stock&#39;
					This means that currently, the item is not available for sale. Use the ‘Wishlist’ feature to notify you
					once it is available for purchase.
					&#39;Temporarily Unavailable&#39;
					The product is currently out of stock and is not available for purchase. The product could possibly be
					in stock soon so use the ‘Wishlist’ feature to know when it is available for purchase.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
					Does Nowishop deliver internationally?
				</a>
			</div>
			<div id="collapseNine" class="collapse" data-parent="#accordion">
				<div class="card-body">
					Yes! Nowishop deliver items internationally.
					You will be able to make your purchases on our site from anywhere in the world with any credit/debit
					cards issued in India and 200+ other countries (please see our Payment Policy for more
					information).
				</div>
			</div>
		</div>
	</div>
</div>