<div id="help-center">
  <div class="breedcrumb-wrap">
    <div class="container">
      <app-breedcrumb [breedcrumb]="breedcrumb"></app-breedcrumb>
    </div>
  </div>
  <div class="page-section">
    <div class="container">
      <div class="sidebar-content-template">
        <div class="row">
          <div class="col-md-3">
            <div class="sidebar">
              <div class="sidebar-container">
                <div class="sidebar-list">
                  <ul class="sidebar-list">
                    <li class="sidebar-single-list">
                      <h2>Categories</h2>
                      <ul>
                        <li><input type="checkbox"> Fashion</li>
                        <li><input type="checkbox"> Decor</li>
                        <li><input type="checkbox"> SPA & Aroma</li>
                      </ul>
                    </li>
                    <li class="sidebar-single-list">
                      <h2>Brands</h2>
                      <ul>
                        <li><input type="checkbox"> Adidas</li>
                        <li><input type="checkbox"> Fast Track</li>
                        <li><input type="checkbox"> Fila</li>
                      </ul>
                    </li>
                    <li class="sidebar-single-list">
                      <h2>Price</h2>
                      <ul>
                        <li><input type="checkbox"> less than 1000</li>
                        <li><input type="checkbox"> between 1000 and 2000</li>
                        <li><input type="checkbox"> Above 5000</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 content">
            <div class="content-container">
              <div class="content-title-container">
              </div>
              <div class="content-section">
                <div class="row" *ngIf="productList.length > 0">
                  <div class="col-md-4 product-container position-relative" *ngFor="let product of productList">
                    <app-show-product [product]="product"></app-show-product>
                  </div>
                </div>
                <div class="row" *ngIf="productList.length == 0">
                  <div class="col-md-4 product-container" *ngFor="let product of dummyProducts">
                    <app-dummy-products></app-dummy-products>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
