
<div class="login-container">
  <div class="login-logo text-center">
    <a [routerLink]="'/'">
      <img src="/assets/img/logo.png">
    </a>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="login-wrapper">
    <div class="top-strip">
      <div class="top-strip-container bg-red"></div>
    </div>
    <div class="bellow-strip bg-red"></div>
  </div>
  <div class="form-container">
    <div class="form-wrapper bg-blue">
      <div class="field-container">
        <div class="title text-center text-light">Reset Password</div>
        <div class="msg-popup" [ngClass]="messageClass" *ngIf="showMessage">
          <span>{{message}}</span>
        </div>
        <div class="form-group">
          <label for="">Enter OTP </label>
          <input type="text" class="form-control" placeholder="OTP" [(ngModel)]="model.OTP" (change)="checkFieldHasValue('OTP')">
          <!-- <div class="field-err"><span *ngIf="error['OTP']">{{error['OTP']}}</span></div> -->
        </div>
        <div class="form-group">
          <label for="">New Password</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.NewPassword" autocomplete="none" (change)="checkFieldHasValue('NewPassword')">
          <!-- <div class="field-err"><span *ngIf="error['NewPassword']">{{error['NewPassword']}}</span></div> -->
        </div>
        <div class="form-group">
          <label for="">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="model.confirmPassword" autocomplete="none">
          <!-- <div class="field-err"><span *ngIf="error['confirmPassword']">{{error['confirmPassword']}}</span></div> -->
        </div>
      </div>
      <div class="register-wrapper text-center bg-red">
        <a class="nfont-weight-bold" (click)="resetPassword()">Reset Password</a>
      </div>
    </div>
  </div>
</div>
