<div class="admin-nav">
	<ul>
		<li routerLink="/admin/dashboard" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-area-chart" aria-hidden="true"></i></div><div class="nav-name float-left">Dashboard</div>
		</li>
		<li routerLink="/admin/orders" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-truck" aria-hidden="true"></i></div><div class="nav-name float-left">Orders</div>
		</li>
		<li routerLink="/admin/categories" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-puzzle-piece"></i></div><div class="nav-name float-left">Categories</div>
		</li>
		<li routerLink="/admin/brands" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-building"></i></div><div class="nav-name float-left">Brands</div>
		</li>
		<li routerLink="/admin/products" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-gift"></i></div><div class="nav-name float-left">Products</div>
		</li>
		<li routerLink="/admin/users" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-users"></i></div><div class="nav-name float-left">Users</div>
		</li>
		<li routerLink="/admin/blogs" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-edit"></i></div><div class="nav-name float-left">Blogs</div>
		</li>
		<li routerLink="/admin/seo" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-globe"></i></div><div class="nav-name float-left">SEO</div>
		</li>
		<li routerLink="/admin/email-marketing" routerLinkActive="active-nav">
			<div class="nav-icon float-left"><i class="fa fa-envelope"></i></div><div class="nav-name float-left">Email Marketing</div>
		</li>
		<li (click)="logoutAdmin()">
			<div class="nav-icon float-left"><i class="fa fa-sign-out" aria-hidden="true"></i></div><div class="nav-name float-left">Logout</div>
		</li>
	</ul>
</div>