<div class="title">
	<div class="row">
		<div class="col-md-8">
			<h2 class="page-title">Privacy Policy</h2>
		</div>
	</div>
</div>
<div class="inner-section-container">
	<div>
		We value the trust you have in us which is why we insist upon the highest standards for secure
		transactions and customer information privacy. Please read the following statement to learn about
		how we gather information and our dissemination practices.
		Note:
		This policy is subject to change at any time without notice. To make sure you are up to date with any
		added changes, please review this policy periodically.
		By visiting the Nowishop website, you agree to be bound by the terms and conditions of this Privacy
		Policy. If you do not agree please cease all usage or access to our website.
		By mere use of the Website, you consent to our use and disclosure of your personal information in
		accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms
		of Use.
	</div>
	<ol>
		<li class="mt-4 mb-4">
			<h5>Collection of Personally Identifiable Information and other Information</h5>
			<div>
				While using our website, your personal information that is provided to us through you is collected
				and stored. Our primary goal in doing this is to provide you a safe, efficient, smooth and customized
				experience. It also allows us to additionally provide services and features that meet your needs,
				which in turn helps us to customize our website to make your experience safer and easier.
				Essentially you can browse our website without telling us who you are or revealing any personal
				information. However, once you provide us with your personal information, you are no longer
				anonymous to us. Most of our forms indicate which fields are required and which fields are optional
				which means you always have the option to not provide information by choosing not to use a
				particular service or feature on the website.
				In some cases Nowishop may automatically track certain information about you based upon your
				activity on our website. This information is utilized for internal research on our users&#39; demographics,
				interests, and behavior to better understand, protect and serve our customers. This information is
				compiled and analyzed on an aggregated basis and may or may not include the URL that you just
				came from (whether this URL is on our website or not), which URL you next go to (whether this URL
				is on our website or not), your computer browser information, and your IP address.
				Nowishop uses data collection devices such as &quot;cookies&quot; on certain pages of the website to help
				analyze our web page flow, measure promotional effectiveness, and promote trust and safety.
				&quot;Cookies&quot; are small files placed on your hard drive that assist us in providing our services. Some of
				our features are only available through the use of a &quot;cookie&quot;.and at times are used to allow you to
				enter your password less frequently during a purchasing session.
				Most cookies are primarily &quot;session cookies,&quot; meaning that they are automatically deleted from your
				hard drive at the end of a browsing session. You always have the option to decline our cookies if
				your browser permits, but please note in these cases you may not be able to use certain features on
				our website and may be required to re-enter your password more frequently during a session.
				In certain cases you may encounter &quot;cookies&quot; or other similar devices on certain pages of the
				website that are placed by third parties. We do not control the use of cookies by third parties.
				If you choose to make purchases on the website, we collect information about your buying behavior.
				During transactions we collect additional information, such as a billing address, credit / debit card
				number and credit / debit card expiration date and / or other payment details and tracking
				information from cheques or money orders.
				If you choose to post messages on our message boards or leave feedback, that information will be
				collected and used as necessary to resolve disputes, provide customer support and troubleshoot
				problems as permitted by law.
				Any personal correspondences, such as emails or letters, or correspondences from other users or
				third parties about your activities or postings on the website will be collected into a file specific to
				you.
				We collect personally identifiable information (email address, name, phone number, credit card /
				debit card / other payment instrument details, etc.) when you set up a free account with us. While
				you can browse some sections of our website without being a registered member, certain activities
				(such as placing an order) do require registration. Please note we use your contact information to
				send you offers based on your previous orders and your interests.
			</div>
		</li>
		<li class="mt-4 mb-4">
			<h5>Use of Demographic / Profile Data / Your Information.</h5>
			<div>
				We use personal information to optimize the services you request. All personal information given to
				us is used to market to you. We use your personal information to resolve disputes; troubleshoot
				problems; help promote a safe service; collect money; measure consumer interest in our products
				and services, inform you about online and offline offers, products, services, and updates; customize
				your experience; detect and protect us against errors, fraud and other criminal activity and enforce
				our terms and conditions.
				Nowishop also provides the option of opting-out of such uses.
				With your consent, we have the ability to access your SMS, contacts in your directory, call history,
				location and device information and we may request you to provide your PAN and Aadhaar details to
				check your eligibility for certain products/services including but not limited to providing credit being
				offered by us, our affiliates or our lending partners.
				Nowishop may distribute this data to our affiliates or our lending partners for the same purposes as
				mentioned above, however, we will not store any Aadhaar data ourselves. In the event that consent
				to this use of data is withdrawn, we will stop collection of such data but continue to store the data
				(save for Aadhaar data) and use it for internal purposes to further improve our services.
				In our efforts to continually improve our product and service offerings, we collect and analyze
				demographic and profile data about our users&#39; activity on our website.
				Your IP address is used to help diagnose problems with our server and to administer our website. It
				is also used for identification purposes and to gather broad demographic information.
				Our shop will occasionally ask you to complete optional online surveys which may ask you for
				contact information and demographic information (like zip code, age, or income level). This data is
				used to tailor your experience on our website and to provide you with content of your interest and
				preference.
				<h4 class="mt-4">Cookies</h4>
				<div>
					A &quot;cookie&quot; is a small piece of information stored by a web server on a web browser so it can be later
					read back from that browser. These are useful for enabling the browser to remember specific
					information pertaining to a given user. Both permanent and temporary cookies are placed in your
					computer&#39;s hard drive. The cookies do not contain any of your personally identifiable information.
				</div>
			</div>
		</li>
		<li class="mt-4 mb-4">
			<h5>Sharing of Personal Information</h5>
			<div>
				Nowishop may share personal information with other corporate entities and affiliates. These entities
				and affiliates have the option to market to you as a result of such sharing unless you explicitly opt-
				out.
				We may disclose personal information to third parties. This disclosure may be required for us to
				provide you access to our services, to comply with our legal obligations, to enforce our User
				Agreement, to facilitate our marketing and advertising activities, or to prevent, detect, mitigate, and
				investigate fraudulent or illegal activities related to our services. This information is not disclosed to
				third parties for marketing/advertising purposes without your explicit consent.
				We may disclose personal information if required to do so by law or in the good faith belief that such
				disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal processes.
				Personal information may be disclosed to law enforcement offices, third party rights owners, or
				others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or
				Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights
				of a third party; or protect the rights, property or personal safety of our users or the general public.
				We and our affiliates have the right to share / sell some or all of your personal information with
				another business entity only in the case of planning to merge with, or be acquired by said outside
				business entity, or re-organization, amalgamation, restructuring of business. Should such a
				transaction occur, other business entities (or the new combined entity) will be required to follow this
				privacy policy with respect to your personal information.
			</div>
		</li>
		<li class="mt-4 mb-4">
			<h5>Links to Other Sites</h5>
			<div>
				nowishop.com links to other websites that may collect personally identifiable information about you.
				We are not responsible for the privacy practices or the content of those linked websites.
			</div>
		</li>
		<li class="mt-4 mb-4">
			<h5>Security Precautions</h5>
			<div>
				Our website has strict security measures in place to protect the loss, misuse, and alteration of the
				information under our control. All changes and access to your account are done through a secure
				server. Once your information is in our possession, we adhere to strict security guidelines, protecting
				it against unauthorized access.
			</div>
		</li>
		<li class="mt-4 mb-4">
			<h5>Choice/Opt-Out</h5>
			<div>
				All users are provided the opportunity to opt-out of receiving non-essential (promotional, marketing-
				related) communications from us on behalf of our partners, and from us in general, after setting up
				an account.
				If you want to remove your contact information from all Nowishop.com lists and newsletters, please
				click the unsubscribe button.
			</div>
		</li>
		<li class="mt-4 mb-4">
			<h5>Advertisements on Nowishop.com</h5>
			<div>
				As previously stated, we use third-party advertising companies to release ads when you visit our
				website. These companies may use information (not including your name, address, email address,
				or telephone number) about your visits to this and other websites in order to provide advertisements
				about goods and services of interest to you.
			</div>
		</li>
		<li class="mt-4 mb-4">
			<h5>Your Consent</h5>
			<div>
				By using the Nowishop website and / or by providing your information, you consent to the collection
				and use of the information you disclose on the website in accordance with this Privacy Policy,
				including but not limited to your consent for sharing your information as per this Privacy Policy.
				If at any time we decide to change our privacy policy, we will post the new changes on this page so
				that you are always aware of what information we collect, how we use it, and under what
				circumstances we disclose it.
			</div>
		</li>
	</ol>
</div>